.ramka {
    position: fixed;
    width: 100%;
    margin-top: 41px;
    border: 1px solid rgba(214, 214, 214, 0.74)
    
    
}

.settings {
margin-top: 1px;
margin-left: 97%;
position: fixed;
}



.home {
top: 3px;
    
    position: fixed;
} 


.page-header {
    position: fixed;
    width: 100%;
    background-color: #fff;
    z-index: 6;
    transition: top .6s ease,.3s ease;
    bottom: 0;
}

.przypiete {
    position: fixed;
    z-index: 6;
}

.fontsizedop {
    font-size: 20px;
}



.ramkadop {

    border: 2px inset black;
}

.menu {
    
    position: fixed;
    top: 1s;
}


.grid1 {
    display: grid;
    grid-template-columns: auto auto;
    justify-content: center;
    grid-gap: 7px;
}


.ramkadogrida {
    border: 2px inset black;
}

.instagram {
margin-left: 1310px;
z-index: 6;
top: 1s;
position: fixed;

}

.facebook {
    
    margin-top: 2px;
    height: 27px;
    width: 36px;
    z-index: 6;
    margin-right: 1px;
    position: fixed;
    margin-left: 72.7%;
    
}

.socialmediaborder {
    border: 3px inset black;
    
}

.twitter {
    
   margin-top: 3px;
    position: fixed;
    margin-left: 71.3%;
margin-right: 3px;
}

.marginek {
    border: solid;  border-radius: 15px; 
width: 100px;

}

.menu:hover {
    background-color: rgb(214, 214, 214, 0.74);
    transition: 1.5s;
    
}


.settings:hover {
    background-color: rgb(214, 214, 214, 0.74);
    transition: 1.5s;
}

.home:hover {
    background-color: rgb(214, 214, 214, 0.74);
    transition: 1.5s;
}

body {
    font-family: 'Peddana', serif;
}

.ramka2 {
    border: 2px inset gray;
}

.facebook:hover {
    background-color: rgb(214, 214, 214, 0.74);
    transition: 1.5s;
}

.instagram:hover {
    background-color: rgb(214, 214, 214, 0.74);
    transition: 1.5s;
    overflow: auto;
}

.btn {
    background-color: black;
    border: none;
    width: 10%;
    color: white;
    padding: 2px 2px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 10px;
     
    font-family: 'Peddana', serif;

}

.btn:hover {
    background-color: rgba(153, 149, 149, 0.74);
    transition: 1.5s;
}

.center {
    margin-left: 23%;
}

.twitter:hover {
    background-color: rgb(153, 149, 149, 0.74);
    transition: 1.5s;
    overflow: auto;
}


.dol {
    margin-top: 4px;
}

.kolortekstu:active {
    color: red;
}